/* whole site */

html, body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    /* background-color: green; */
}

textarea {
    font-family: inherit;
    font-size: inherit;
 }


 /* flex */




.flex, .f {
    display:flex;
}

.row {
    display:flex;
    flex-direction: row;
}

.col {
    display:flex;
    flex-direction: column
}

.jc-c {
    display:flex;
    justify-content: center;
}

.jc-sb {
    display:flex;
    justify-content: space-between
}

.jc-sa {
    display:flex;
    justify-content: space-around
}

.jc-st {
    display:flex;
    justify-content: flex-start;
}

.jc-end {
    display:flex;
    justify-content: flex-end;
}

.ai-c {
    display:flex;
    align-items: center;
}

.ai-st{
    display:flex;
    align-items: flex-start;
}


/* border, background, color */

.just-text-button {
    border: none;
    background-color: none
}

.match-tasks {
    background-color: rgba(247,246,246,255);
    border: none;
}

.no-bor {
    border: none
}

.thin-bor {
    border: .1em solid lightslategrey;
}

.text-blue {
    color: rgb(117, 117, 175);
 }

.bg-green {
    display:flex;
    background-color: lightgreen;
}

.bg-blue {
    display:flex;
    background-color: rgb(133, 133, 233);

}

.bg-light-gray {
    display:flex;
    background-color: rgba(247,246,246,255);



}

.bg-white {
    display:flex;
    background-color: white;

}

.bg-none {
    background-color: none;
}

.bg-whole-page {
    height: 75vh;
    width: 100vw;
}

.color-purple {
    display:flex;
    color: purple;
}

.border-blue {
    display:flex;
    border: solid blue .2em;
}

.border-green {
    display:flex;
    border: solid green .2em;
}


.border-yellow {
    display:flex;
    border: solid yellow .2em;
}

.border-orange {
    display:flex;
    border: solid orange .2em;
}

.border-red {
    display:flex;
    border: solid red .2em;
}

.circle {
    display:flex;
    border-radius: 20em;
}

.round-sq {
    display:flex;
    border-radius: 2em;
}

.round-sq-05 {
    display:flex;
    border-radius: .5em;
}

.box-shadow {
    box-shadow: 2px 2px 5px 5px rgba(0, 0, 0, 0.2);
}

/* margin, padding */

.margin-0 {
    margin: 0px;

}

.margin-t-05 {
    margin-top: 0.5em;
}

.margin-b-2 {
    margin-bottom: 2em;
}

.all-padding {
    display:flex;
    padding: 5em;
}

.all-margin {
    display:flex;
    margin: 5em;
}

.all-margin-small {
    display:flex;
    margin: 1em;

}

.b-margin {
    display:flex;
    margin-bottom: 1em;

}

.b-padding-large {
    display:flex;
    padding-bottom: 300em;
}

.vw-vh-100 {
    width: 100vw;
    height: 100vh;
}

.vw-99-vh-70 {
    width: 99vw;
    height: 70vh;
}

.vh-5 {
    height: 5vh;
}

.vh-15 {
    height: 15vh;
}

.vh-20 {
    height: 20vh;
}


.lr-margin {
    display:flex;
    margin-left: 10em;
    margin-right: 10em;
}

.lr-margin-10-vw {
    display:flex;
    margin-left: 10vw;
    margin-right: 10vw;
}

.lr-margin-small {
    display:flex;
    margin-left: 1em;
    margin-right: 1em;


}

.tb-margin {
    display:flex;
    margin-top: 1em;
    margin-bottom: 1em;

}

.pad-1 {
    display: flex;
    padding: .5em
}

/* width, height */

.width-50em {
    width: 30em;
}

.width-20-vw {
    width: 20vw;
}


.wh-100 {
    width: 100%;
    height: 100%;
}

.height-100-per {
    display: flex;
    min-height: 80em;
    background-color: rgb(241, 245, 249)
}

.height-task {
    display: flex;
    height: 6em;
}


.box {
    display:flex;
    width: 10em;
    height: 10em;
    }

.width-20-per {
    display: flex;
    width: 20%;
}

.width-40-per {
    display: flex;
    width: 40%;
}


.width-60-per {
    display: flex;
    width: 60%;
}
.width-80-per {
    display: flex;
    width: 80%;
}

.width-90-per {
    display: flex;
    width: 90%;
}


.width-100-per {
    display: flex;
    width: 100%;
}

.width-150-per {
    display: flex;
    width: 150%;
}

.width-38em {
    display: flex;
    width: 38em;

}

.width-20em {
    display: flex;
    width: 20em;

}

.max-width-90em {
    max-width: 90em;
}


.max-width-20em {
    max-width: 20em;
}

.max-width-20-per {
    max-width: 20%
}

/* font */



.font-small {
    font-size:xx-small;
}

.font-small-med {
    font-size: small

}

.font-med {
    font-size: medium;
}

.font-large {
    font-size:large

}

.no-border {
    display:flex;
    border: none
}

/* curser,  hover */

.cursor {
    cursor: pointer
 }

.do-not-interact:hover {
    cursor: not-allowed;
    text-decoration: none;
  }



/* positioning  */

.relative-right {
    position: relative;
    right: 5em;
}



/* lines */
.just-no-und {
    text-decoration:none;
}

.no-und {
    text-decoration:none;
    color: black;

}

.short-gray-line {
    border-bottom: solid .1em lightgray;
    width: 5em;

}

.long-gray-line {
    border-bottom: solid .1em lightgray;
    width: 100%;

}

.small-box {
    display:flex;
width: 2em;
height: 2em;

}







/* main only */


.main-img-1 {
    width: 20vw;
    height: 45vh;
    object-fit: cover;
    position: relative;
    top: 5em;
    right: 5em;
}

.main-img-2 {
    width: 20vw;
    height: 45vh;
    object-fit: cover;
    position: relative;
    top: 10em;
    right: 5em;
}


.main-gray-box {
    display: flex;
    /* width: 30em;
    height: 50em; */
    width: 40%;
    height: 80vh;
    background-color: lightgray
    }


.main-left {
    width: 60%;
}

.main-left-proj {
    width: 60%;
}


/* whySauna */

.why-sauna-img {
    width: 100vw;
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
}

.overlap-img {
    position: absolute;
    top: 3em;
    left: 2em;
    color: black;
}




/* Modal CSS */

#modal {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 5;
  }

   #modal-background {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.7);
  }

  #modal-content {
    position: absolute;
    background-color:white;
    border-radius: 10px;

  }




  /* in use */
  .dropdownContentNav {
    display: flex;
    flex-direction: column;
    position: absolute;
    right: 10em;
    border-radius: 1em;
    border: white 0.5em solid;
    background-color: #f9f9f9;
    min-width: 9.5em;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 4;
    justify-content: center;
  }

  .dropdownTeam {
    display: flex;
    flex-direction: column;
    position: absolute;
    left: 10em;
    border-radius: 1em;
    border: white 0.5em solid;
    background-color: #f9f9f9;
    min-width: 7.5em;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 4;
    justify-content: center;
  }


  /* not yet organized  */

  .height-shorter {
    height: 2em;
  }

  .width-same {
    width: 5em;
  }


  .round-bottom {
    border-bottom-left-radius: 1em;
    border-bottom-right-radius: 1em;
  }


  .z-2 {
    z-index: 2
   }


   .asana-button {
    background-color: white;
    border-radius: 5px;
    border: rgb(166, 162, 162) solid 0.05em;
    cursor: pointer
   }


   .should-wrap {
    overflow-wrap: break-word;
    width: 20vw;
   }


   .should-wrap-10 {
    overflow-wrap: break-word;
    width: 10em;
   }


   .should-wrap-full {
    overflow-wrap: break-word;
    width: 90vw;
    height: 5vh;
   }

   .should-wrap-70 {
    overflow-wrap: break-word;
    width: 70vw;

   }

   .scroller {
    /* width: 300px; */
    height: 100em;
    overflow-y: scroll;
    scrollbar-width: thin;
  }

  .should-wrap-task-edit {
    overflow-wrap: break-word;
    width: 20vw;
  }

  .scroller-tasks {
    height: vh70;
    overflow-y: scroll;
    scrollbar-width: thin;

  }
